html {
	height: 100%;
	background-color: #141414;
	color: #e1e1e1;
	font-family: SlimJim;
 	opacity: 1;
}

@font-face {
  font-family: SlimJim;
  src: url(fonts/SlimJim.ttf);
}
@font-face {
  font-family: Handwriting;
  src: url(fonts/Handwriting.ttf);
}

body {
	margin: auto;
	##width: 1000px;
	min-height: 100vh;
	user-select: none;
	font-family: SlimJim;
}

hr {
	background-color: #555;
	margin: 20px 50px 20px 50px;
	height: 1.01px; /* for some reason 1px breaks sometimes lol */
	border: none;
}

#logo {
	height:100px;
}

.spacer {
	height:20px;
}

#header {
	background-color: #262626;
	padding: 20px;
}

.button {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background-color: #e1e1e1;
	box-shadow: 0px 6px #b8b8b8;
	min-width: 50px;
	height: 40px;
	color: #262626;
	border-radius: 4px;
	transition: box-shadow 0.25s, margin-top 0.25s, margin-bottom 0.25s;
	user-select: none;
	margin: 20px;
	text-shadow: none;
	cursor: pointer;
}

.button:hover {
	margin-top: 23px;
	margin-bottom: 7px;
	box-shadow: 0px 3px #b8b8b8;
}

.button:active {
	background-color: #b8b8b8;
	margin-top: 26px;
	margin-bottom: 14px;
	box-shadow: 0px 0px #b8b8b8;
}

.button-title {
	padding-left:5px;
	padding-right:5px;
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 40px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  user-select: text;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #7289DA;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #7289DA transparent transparent transparent;
}

.content {
	width: 1000px;
	margin: auto;
	text-align: center;
}

.texttype1 {
	font-size:80px;
	color: #78d113;
	font-family: SlimJim;
}
.texttype2 {
	font-size:40px;
	font-family: SlimJim;
}
.texttype3 {
	font-size:40px;
	color: #422bc4;
	font-family: Handwriting;
}

.texttypelink {
	font-size:20px;
	color: #e1e1e1;
}
.texttypelink:hover {
	font-size:20px;
	color: #78d113;
}
.texttypelink:active {
	font-size:20px;
	color: #78d113;
}

.artwork {
	background-color: #262626;
	border: 1px dashed #78d113;
	display: inline-block;
	max-width: 653.3px;
	
}

#artworkimage{
	object-fit: cover;
	max-width: 653.3px;

}

.note {
	background-color:#ffff71;
	border: 5px solid #ffff71;
	display: inline-block;
	min-width: 200px;
	min-height: 200px;
	max-width: 700px;
	text-align: justify;
	width: auto;
	font-size:30px;
	color: #422bc4;
	font-family: Handwriting;
	position: relative;
	margin: 20px;
	user-select: text;
	word-break: break-all
}