@font-face {
  font-family: Minecraft;
  src: url(Minecraftia-Regular.ttf);
}

body{
	background-color:#282d36;
}

#hoverdiv{

	text-align:left;
	position:fixed;
	top:0;
	left:0;
	background-color:#100010;
	background-color:rgba(16,0,16,.94);
	color:#fff;
	padding:13px;
	font-family:Minecraft;
	font-size:13px;
	word-spacing:4px;
	white-space:nowrap;
	line-height:20px;
	text-shadow:2px 2px 0 #3f3f3f;
	margin:10px 4px;
	pointer-events:none;
	z-index:99
}
#hoverdiv:before{
	right:-2px;
	left:-2px;
	border-style:none solid;
	border-color:rgba(16,0,16,.94)
}
#hoverdiv:after,#hoverdiv:before{
	content:"";
	position:absolute;
	top:2px;
	bottom:2px
}
#hoverdiv:after{
	right:0;
	left:0;
	border:2px solid #2d0a63;
	-webkit-border-image:-webkit-gradient(linear,left top,left bottom,from(rgba(80,0,255,.31)),to(rgba(40,0,127,.31))) 1;
	-webkit-border-image:-webkit-linear-gradient(rgba(80,0,255,.31),rgba(40,0,127,.31)) 1;
	border-image:-webkit-gradient(linear,left top,left bottom,from(rgba(80,0,255,.31)),to(rgba(40,0,127,.31))) 1;
	border-image:linear-gradient(rgba(80,0,255,.31),rgba(40,0,127,.31)) 1
}

img:hover + #hoverdiv {
    display: block;
}

.book{
	margin-top:200px;
	margin-left:200px;
	height:200px;
	image-rendering: pixelated;
}

.book:hover{
	box-shadow: 0 0 10px #0042ad;
}