<div class="panel" id="Games">
    <p class="panel-title">Our Games</p>
    <p class="panel-text">Let us introduce our games... but you might ask, how? Say no more, let us present our
        launcher, that will let us introduce our games! Silly, huh? <br> <br> The MultiTeam Launcher will ask
        you to sign in with your MultiTeam Account, which you can make here or after downloading and running the
        launcher itself, if you dont have one already.</p>

    <div class="panel-display">
        <div class="panel-display-header">MultiTeam Launcher<div class="shine-effect">.</div><a
                class="decor-icon" id="decoico-mtlauncher"><i class="fas fa-gamepad"></i></a></div>
        <div class="panel-display-container">
            <img src="res/img/icons/mt_launcher_icon.png" alt="MultiTeam launcher Icon" id="MTLicon"
                draggable="false">
            <p class="panel-display-text">Available for Linux and Windows</p>
            <div class="button_icon" id="icon-linux"><i class="fab fa-linux"></i></div>
            <div class="button_icon" id="icon-windows"><i class="fab fa-windows"></i></div>
        </div>
    </div>

    <p class="panel-text">Now you have the place to get the games.... but, what games? Oh yeah, let me introduce
        them! For the game's own webpage, click on the <i class="fas fa-info-circle"></i> button</p>

    <div class="panel-display" style="background-color: #140c1f;">
        <div class="panel-display-header">Just A Survival Game<div class="shine-effect">.</div><a
                class="decor-icon" id="decoico-jasg"><i class="fas fa-skull"></i></a></div>
        <div class="panel-display-container">
            <img src="res/img/icons/game_icon_jasg.png" alt="MultiTeam launcher Icon" id="MTLicon"
                draggable="false">
            <p class="panel-display-text">Available through the Launcher</p>
            <a class="button_icon" id="info-ico-jasg" href="pages/games/JASG/index.html"><i
                    class="fas fa-info-circle"></i></a>
        </div>
    </div>
    <div class="panel-display" style="background-color: #4a001c;">
        <div class="panel-display-header">Soldiers Of The Office<div class="shine-effect">.</div><a
                class="decor-icon" id="decoico-soto"><i class="fas fa-paperclip"></i></a></div>
        <div class="panel-display-container">
            <img src="res/img/icons/game_icon_soto.png" alt="MultiTeam launcher Icon" id="MTLicon"
                draggable="false">
            <p class="panel-display-text">Available through the Launcher</p>
            <a class="button_icon" id="info-ico-soto" href="pages/games/SoldierOfTheOffice/index.html"><i
                    class="fas fa-info-circle"></i></a>
        </div>
    </div>
    <div class="panel-display" style="background-color: #004000;">
        <div class="panel-display-header">Project Freedom<div class="shine-effect">.</div><a class="decor-icon"
                id="decoico-pf"><i data-feather="hexagon"></i></a></div>
        <div class="panel-display-container">
            <img src="res/img/icons/game_icon_pf.png" alt="MultiTeam launcher Icon" id="MTLicon"
                draggable="false">
            <p class="panel-display-text">Available through the Launcher</p>
            <a class="button_icon" id="info-ico-pf" href="pages/games/ProjectFreedom/index.html"><i
                    class="fas fa-info-circle"></i></a>
        </div>
    </div>
</div>