<script src="assets/js/discordInvite.js"></script>
<script>
    discordInvite.init({
        inviteCode: 'rudHdrJ',
        title: 'MultiTeam HUB',
    });
    discordInvite.render();
</script>

<div class="panel" id="About">
    <p class="panel-title"> All about</p> <img id="logo-disp" src="assets/img/MultiTeamLogo_full_transparent.png"
        draggable="false"> <br> <br> <br>

    <p class="panel-text">
        Our group was founded by <a href="pages/misc/LazTheArtist's Portfolio/index.html" class="dc_username">@[László Gaming]#3764</a> aka LazTheArtist back in 2017.<br><br>
        We started as a minecraft modding group, but we grew larger by making games since 2020. There were tries
        before that, but officially its 2020.<br><br>
        Back in the day, i aka Laz, wanted to make minecraft mods, but i wasnt able to code myself, so i began
        searching for someone who can.
        Basically this is how MultiTeam was founded; It consists of me, and those who could code minecraft mods.
        We had started several mods, and some are still being worked on today. But in 2020 came the change,
        specially in the last quarter.
        I started to work on a game with my friends in the first quarter of 2020, learned a bit of C# and unty
        itself,
        and the idea of Multiteam being more than a minecraft modding group started forming.
        Later in the year, near the third or fourth quarter, i started working on another game, and as we gone
        along,
        i finally wanted to make it official: We are no longer just a minecraft modding group.
        This is how this site was renewed in december of 2020, and basically the whole idea of
        Multiteam.<br><br>
        And now you know the history, you can be part of it here:<br>

        <div id="discordInviteBox"></div><br><br>


        Our Team members, in "cronological" order:<br><br>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/203505346109636617/ab5f0d82496d061dc554f99f6155b4e2.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">IAmGama™</span><span
                        class="text-discrim">#4944</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleArtist);">
                            <i class="fas fa-circle"></i><span>Artist</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Mod</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/302379230308859905/fcffa47347321b58cb0cc0e7a59fe560.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-invisible"></i></span></div>
                <div class="pro-username"><span class="text-username">m00n</span><span
                        class="text-discrim">#7678</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleCoder);">
                            <i class="fas fa-circle"></i><span>Coder</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleMultiEx);">
                            <i class="fas fa-circle"></i><span>MultiExpansion Mod</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/94031621396635648/4a8c4b3ab22531d21a8b8d12e28cc2c8.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-afk"></i></span></div>
                <div class="pro-username"><span class="text-username">fabbe50</span><span
                        class="text-discrim">#6969</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleCoder);">
                            <i class="fas fa-circle"></i><span>Coder</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleStarwars);">
                            <i class="fas fa-circle"></i><span>StarWars Mod</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/257247527630274561/4eacb72e664645751c06d7c6aac01e10.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-invisible"></i></span></div>
                <div class="pro-username"><span class="text-username">Monstahhh</span><span
                        class="text-discrim">#9629</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleCoder);">
                            <i class="fas fa-circle"></i><span>Coder helper</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleMultiEx);">
                            <i class="fas fa-circle"></i><span>MultiExpansion Mod</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/295683263014633482/179c9e854f4406e91a7ca8b4f452b4cf.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">boblovespi</span><span
                        class="text-discrim">#9817</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleCoder);">
                            <i class="fas fa-circle"></i><span>Coder</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleFactorya);">
                            <i class="fas fa-circle"></i><span>FactoryAutomation Mod</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/276550742905585674/74fdffc6dbcbd3196fa16bf99f5a3579.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">Rellit</span><span
                        class="text-discrim">#7212</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleCoder);">
                            <i class="fas fa-circle"></i><span>Coder</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleMultiEx);">
                            <i class="fas fa-circle"></i><span>MultiExpansion Mod</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/409673299241598976/8e1de8229f4dcf965a198f745b1c7e4e.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">MaroonShaded</span><span
                        class="text-discrim">#9545</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleCoder);">
                            <i class="fas fa-circle"></i><span>Coder</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleMultiEx);">
                            <i class="fas fa-circle"></i><span>MultiExpansion Mod</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleJASG)">
                            <i class="fas fa-circle"></i><span>JASG</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/707672707558539315/4c73e826a9a4d4169ee2527d58e377f3.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">Crocoduck</span><span
                        class="text-discrim">#1809</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleJASG);">
                            <i class="fas fa-circle"></i><span>JASG</span>
                        </div>
                        <!-- <div class="rol" style="color: var(--dcRoleMultiEx);">
                                    <i class="fas fa-circle"></i><span>MultiExpansion Mod</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/431007747505520642/c0f80c9b1c47eb12f5e62be7a99e7c47.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">Shroomer</span><span
                        class="text-discrim">#0399</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleArtist);">
                            <i class="fas fa-circle"></i><span>Artist</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleJASG);">
                            <i class="fas fa-circle"></i><span>JASG</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/703276665442140162/259b4b76f41207c8f7d8915b1e2d0df7.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">Void Demon</span><span
                        class="text-discrim">#0759</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleArtist);">
                            <i class="fas fa-circle"></i><span>Artist</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleJASG);">
                            <i class="fas fa-circle"></i><span>JASG</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/452676989355032597/186e5fc0249d64a53b7dbb50db24358e.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">GLaDOS Edition</span><span
                        class="text-discrim">#3407</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--dcRoleArtist);">
                            <i class="fas fa-circle"></i><span>Artist</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleJASG);">
                            <i class="fas fa-circle"></i><span>JASG</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/567900373877129239/3389952730f2a7754928a7f328417a19.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">Pyrocide (Wesley)</span><span
                        class="text-discrim">#5768</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: #2ecc71;">
                            <i class="fas fa-circle"></i><span>MusicMaker</span>
                        </div>
                        <div class="rol" style="color: var(--dcRoleJASG);">
                            <i class="fas fa-circle"></i><span>JASG</span>
                        </div>
                        <!-- <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="pro-header">
                <div class="pro-avatar"> <img draggable="false"
                        src="https://cdn.discordapp.com/avatars/223864389256609792/c74a24ceb8153ace07b07e5422216bdd.png?size=128"
                        alt="avatar-username"> <span class="pro-status">
                        <i class="fas fa-circle usr-status-online"></i></span></div>
                <div class="pro-username"><span class="text-username">Cat Core</span><span
                        class="text-discrim">#9902</span></div>
            </div>

            <div class="pro-body">
                <div class="pro-content">
                    <div class="title-body">ROLES</div>
                    <div class="roles-body">
                        <!-- roles list -->
                        <div class="rol" style="color: var(--mtWhite);">
                            <i class="fas fa-circle"></i><span>MTLauncherDEV</span>
                        </div>
                        <!-- <div class="rol" style="color: var(--dcRoleMultiEx);">
                                    <i class="fas fa-circle"></i><span>MultiExpansion Mod</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Member</span>
                                </div>
                                <div class="rol" style="color: #7F91E9;">
                                    <i class="fas fa-circle"></i><span>Dev</span>
                                </div>
                                    -->
                    </div>
                </div>
            </div>
        </div>

</div>