<div class="panel" id="Minecraft">
    <p class="panel-title">Minecraft Mods</p>
    <p class="panel-text">MultiTeam originally started as a Minecraft modding group, but making games does not
        stop us continuing making mods! <br> Enough of words, let me show you our mods! <br><br> For the mod's
        webpage click on the <i class="fas fa-info-circle"></i> button</p>

    <div class="panel-display">
        <div class="panel-display-header">MultiExpansion<div class="shine-effect">.</div>
        </div>
        <div class="panel-display-container" style="background-color: #0b1c56; min-height: 206px;">
            <img src="res/img/logos/MulitEx_logo_transparent.png" alt="MultiExpansion Logo" id="ModIcon"
                draggable="false">
            <p class="panel-display-text">Available on curseforge</p>
            <a class="button_icon" id="info-ico-multiex" href="pages/mods/MultiExpansion/index.html"><i
                    class="fas fa-info-circle"></i></a>
            <a class="button_icon" id="info-ico-curseforge"
                href="https://minecraft.curseforge.com/projects/mt-multicraft"><i
                    class="icon-CurseforgeIcon"></i></a>
        </div>
    </div>

    <div class="panel-display">
        <div class="panel-display-header">FactoryAutomation<div class="shine-effect">.</div>
        </div>
        <div class="panel-display-container" style="background-color: #535c67; min-height: 206px;">
            <img src="res/img/logos/FactoryA_logo_transparent.png" alt="FactoryAutomation Logo" id="ModIcon"
                draggable="false">
            <p class="panel-display-text">Available on curseforge</p>
            <a class="button_icon" id="info-ico-factorya" href="pages/mods/FactoryAutomation/index.html"><i
                    class="fas fa-info-circle"></i></a>
            <a class="button_icon" id="info-ico-curseforge"
                href="https://minecraft.curseforge.com/projects/mt-factory-automation"><i
                    class="icon-CurseforgeIcon"></i></a>
        </div>
    </div>

    <div class="panel-display">
        <div class="panel-display-header">StarWars<div class="shine-effect">.</div>
        </div>
        <div class="panel-display-container" style="background-color: #c27907; min-height: 206px;">
            <img src="res/img/logos/StarWars_logo_transparent.png" alt="StarWars mod Logo" id="ModIcon"
                draggable="false">
            <p class="panel-display-text">Not available....yet!</p>
            <!--a class="button_icon" id="info-ico-starwars" href="#"><i class="fas fa-info-circle"></i></a>
                <a class="button_icon" id="info-ico-curseforge" href="#"><i class="icon-CurseforgeIcon"></i></a-->
        </div>
    </div>

    <div class="panel-display">
        <div class="panel-display-header">GardenArsenal<div class="shine-effect">.</div>
        </div>
        <div class="panel-display-container" style="background-color: #2b9502; min-height: 206px;">
            <img src="res/img/logos/GardenArsenal_logo_transparent.png" alt="GardenArsenal Logo" id="ModIcon"
                draggable="false" style="max-height: 100px;">
            <p class="panel-display-text">Available on curseforge</p>
            <a class="button_icon" id="info-ico-gardena" href="pages/mods/GardenArsenal/index.html"><i
                    class="fas fa-info-circle"></i></a>
            <a class="button_icon" id="info-ico-curseforge"
                href="https://www.curseforge.com/minecraft/mc-mods/mt-garden-arsenal"><i
                    class="icon-CurseforgeIcon"></i></a>
        </div>
    </div>
    <br><br>
    <div class="panel-display">
        <div class="panel-display-header">Arcadia<div class="shine-effect">.</div>
        </div>
        <div class="panel-display-container" style="background-color: #89affd; min-height: 206px;">
            <img src="res/img/logos/Arcadia_logo_transparent.png" alt="MultiExpansion Logo" id="ModIcon"
                draggable="false">
            <p class="panel-display-text" style="color: #000;">Not available....yet!</p>
            <!--a class="button_icon" id="info-ico-multiex" href="pages/mods/MultiExpansion/index.html"><i class="fas fa-info-circle"></i></a>
                <a class="button_icon" id="info-ico-curseforge" href="https://minecraft.curseforge.com/projects/mt-multicraft"><i class="icon-CurseforgeIcon"></i></a-->
        </div>
    </div>


</div>