<div class="pro-header">
    <div class="pro-avatar"> <img draggable="false"
            src="https://cdn.discordapp.com/avatars/203505346109636617/ab5f0d82496d061dc554f99f6155b4e2.png?size=128"
            alt="avatar-username"> <span class="pro-status">
            <i class="fas fa-circle usr-status-online"></i></span></div>
    <div class="pro-username"><span class="text-username">IAmGama™</span><span
            class="text-discrim">#4944</span></div>
</div>

<div class="pro-body">
    <div class="pro-content">
        <div class="title-body">ROLES</div>
        <div class="roles-body">
            <!-- roles list -->
            <div class="rol" style="color: var(--dcRoleArtist);">
                <i class="fas fa-circle"></i><span>Artist</span>
            </div>
            <!-- <div class="rol" style="color: #7F91E9;">
                        <i class="fas fa-circle"></i><span>Mod</span>
                    </div>
                    <div class="rol" style="color: #7F91E9;">
                        <i class="fas fa-circle"></i><span>Member</span>
                    </div>
                    <div class="rol" style="color: #7F91E9;">
                        <i class="fas fa-circle"></i><span>Dev</span>
                    </div>
                        -->
        </div>
    </div>
</div>